# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  #push:
  #  branches: [ "master" ]
  #pull_request:
  #  branches: [ "master" ]

  # Allow manual run of the pipeline
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          # According to https://github.com/actions/runner-images/issues/6539#issuecomment-1314127790
          dotnet-version: 7.x.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore && pwd && ls -l

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x.x
      - name: Test
        run: dotnet test --no-build --verbosity normal

  containerize:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x.x
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Add Containerizing NuGet package
        run: dotnet add package Microsoft.NET.Build.Containers --version 0.3.2
      - name: Containerize with .NET 7.0
        run: dotnet publish --os linux --arch arm64 -p:PublishProfile=DefaultContainer
      - name: Remove Containerizing NuGet package
        run: dotnet remove package Microsoft.NET.Build.Containers
      # - name: Push to Docker registry
      #   run: docker push docker.io/uchitesting/rasp-test:latest-arm64
      - name: Build and Push the image to Docker Hub
        uses: docker/build-push-action@v4
        with:
          # To define a custom registry
          # registry: docker.pkg.github.com
          context: .
          # file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/rasp-test:latest-arm64
